[submodule "lib/tinygltf"]
	path = lib/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "lib/bstream"]
	path = lib/bstream
	url = https://github.com/Astral-C/bStream.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
